In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.rand(46))
ser.tail()

41    0.010701
42    0.217608
43    0.603526
44    0.268738
45    0.351095
dtype: float64

In [3]:
type(ser)

pandas.core.series.Series

In [4]:
df = pd.DataFrame(np.random.rand(356, 5), index=np.arange(356))
df.head()

          0         1         2         3         4
0  0.059544  0.402814  0.186492  0.283452  0.011223
1  0.593781  0.858707  0.669968  0.961814  0.223470
2  0.110286  0.438075  0.520476  0.357160  0.335461
3  0.374108  0.672006  0.112836  0.194226  0.632581
4  0.438289  0.307846  0.038479  0.616930  0.793115

In [5]:
df.describe()

                0           1           2           3           4
count  356.000000  356.000000  356.000000  356.000000  356.000000
mean     0.486411    0.512147    0.517088    0.510467    0.499992
std      0.286344    0.291692    0.298065    0.294790    0.292556
min      0.002489    0.006234    0.002619    0.004780    0.000285
25%      0.254008    0.266816    0.233225    0.252530    0.245727
50%      0.481716    0.515396    0.542238    0.522039    0.508068
75%      0.714769    0.761954    0.780147    0.773700    0.753524
max      0.990055    0.999932    0.999581    0.999542    0.998726

In [6]:
newdf = df.T # This will only referance df and still save transposed df 
newdf.tail(2)

,0,1,2,3,4,5,6,7,8,9,...,346,347,348,349,350,351,352,353,354,355
3,0.283452,0.961814,0.357160,0.194226,0.616930,0.209981,0.281575,0.168666,0.651384,0.890206,...,0.877176,0.621959,0.868801,0.748849,0.235548,0.674925,0.042436,0.00478,0.653342,0.107056
4,0.011223,0.223470,0.335461,0.632581,0.793115,0.038775,0.043854,0.818796,0.242239,0.107085,...,0.056967,0.430361,0.267312,0.679196,0.616229,0.994586,0.778499,0.90602,0.565887,0.218342

In [7]:
df.head()

          0         1         2         3         4
0  0.059544  0.402814  0.186492  0.283452  0.011223
1  0.593781  0.858707  0.669968  0.961814  0.223470
2  0.110286  0.438075  0.520476  0.357160  0.335461
3  0.374108  0.672006  0.112836  0.194226  0.632581
4  0.438289  0.307846  0.038479  0.616930  0.793115

In [8]:
newdf.head()

,0,1,2,3,4,5,6,7,8,9,...,346,347,348,349,350,351,352,353,354,355
0,0.059544,0.593781,0.110286,0.374108,0.438289,0.688982,0.817571,0.902318,0.138628,0.829025,...,0.039877,0.286420,0.213898,0.190538,0.042271,0.260779,0.927813,0.984081,0.153759,0.108942
1,0.402814,0.858707,0.438075,0.672006,0.307846,0.128134,0.756907,0.602057,0.316092,0.383246,...,0.349072,0.401321,0.239400,0.454427,0.514681,0.204386,0.092021,0.493254,0.073263,0.096179
2,0.186492,0.669968,0.520476,0.112836,0.038479,0.114257,0.946367,0.155714,0.965074,0.115063,...,0.513604,0.839868,0.915340,0.166598,0.202179,0.441044,0.153885,0.487580,0.729364,0.733041
3,0.283452,0.961814,0.357160,0.194226,0.616930,0.209981,0.281575,0.168666,0.651384,0.890206,...,0.877176,0.621959,0.868801,0.748849,0.235548,0.674925,0.042436,0.004780,0.653342,0.107056
4,0.011223,0.223470,0.335461,0.632581,0.793115,0.038775,0.043854,0.818796,0.242239,0.107085,...,0.056967,0.430361,0.267312,0.679196,0.616229,0.994586,0.778499,0.906020,0.565887,0.218342

In [9]:
# Question: does removing column from newdf will result in removel of row from df?? ans = No
newdf.drop(0, axis=1)

,1,2,3,4,5,6,7,8,9,10,...,346,347,348,349,350,351,352,353,354,355
0,0.593781,0.110286,0.374108,0.438289,0.688982,0.817571,0.902318,0.138628,0.829025,0.181018,...,0.039877,0.286420,0.213898,0.190538,0.042271,0.260779,0.927813,0.984081,0.153759,0.108942
1,0.858707,0.438075,0.672006,0.307846,0.128134,0.756907,0.602057,0.316092,0.383246,0.048441,...,0.349072,0.401321,0.239400,0.454427,0.514681,0.204386,0.092021,0.493254,0.073263,0.096179
2,0.669968,0.520476,0.112836,0.038479,0.114257,0.946367,0.155714,0.965074,0.115063,0.606837,...,0.513604,0.839868,0.915340,0.166598,0.202179,0.441044,0.153885,0.487580,0.729364,0.733041
3,0.961814,0.357160,0.194226,0.616930,0.209981,0.281575,0.168666,0.651384,0.890206,0.735130,...,0.877176,0.621959,0.868801,0.748849,0.235548,0.674925,0.042436,0.004780,0.653342,0.107056
4,0.223470,0.335461,0.632581,0.793115,0.038775,0.043854,0.818796,0.242239,0.107085,0.045934,...,0.056967,0.430361,0.267312,0.679196,0.616229,0.994586,0.778499,0.906020,0.565887,0.218342

In [10]:
df.head()

          0         1         2         3         4
0  0.059544  0.402814  0.186492  0.283452  0.011223
1  0.593781  0.858707  0.669968  0.961814  0.223470
2  0.110286  0.438075  0.520476  0.357160  0.335461
3  0.374108  0.672006  0.112836  0.194226  0.632581
4  0.438289  0.307846  0.038479  0.616930  0.793115

In [11]:
newdf.loc[0, 1] = 557

In [12]:
df.columns = ['A', 'B', 'C', 'D', 'E']
df.head(5)

            A         B         C         D         E
0    0.059544  0.402814  0.186492  0.283452  0.011223
1  557.000000  0.858707  0.669968  0.961814  0.223470
2    0.110286  0.438075  0.520476  0.357160  0.335461
3    0.374108  0.672006  0.112836  0.194226  0.632581
4    0.438289  0.307846  0.038479  0.616930  0.793115

In [13]:
newdf.head()

,0,1,2,3,4,5,6,7,8,9,...,346,347,348,349,350,351,352,353,354,355
0,0.059544,557.000000,0.110286,0.374108,0.438289,0.688982,0.817571,0.902318,0.138628,0.829025,...,0.039877,0.286420,0.213898,0.190538,0.042271,0.260779,0.927813,0.984081,0.153759,0.108942
1,0.402814,0.858707,0.438075,0.672006,0.307846,0.128134,0.756907,0.602057,0.316092,0.383246,...,0.349072,0.401321,0.239400,0.454427,0.514681,0.204386,0.092021,0.493254,0.073263,0.096179
2,0.186492,0.669968,0.520476,0.112836,0.038479,0.114257,0.946367,0.155714,0.965074,0.115063,...,0.513604,0.839868,0.915340,0.166598,0.202179,0.441044,0.153885,0.487580,0.729364,0.733041
3,0.283452,0.961814,0.357160,0.194226,0.616930,0.209981,0.281575,0.168666,0.651384,0.890206,...,0.877176,0.621959,0.868801,0.748849,0.235548,0.674925,0.042436,0.004780,0.653342,0.107056
4,0.011223,0.223470,0.335461,0.632581,0.793115,0.038775,0.043854,0.818796,0.242239,0.107085,...,0.056967,0.430361,0.267312,0.679196,0.616229,0.994586,0.778499,0.906020,0.565887,0.218342

In [14]:
world = df
world = world.loc[(world['B']>=0.5) & (world['A']<0.6)]

In [15]:
world.loc[:, ['A', 'D', 'B']]

            A         D         B
3    0.374108  0.194226  0.672006
16   0.226598  0.485916  0.771714
18   0.283342  0.058340  0.935882
24   0.078900  0.238818  0.893345
25   0.426059  0.780681  0.524959
..        ...       ...       ...
335  0.324548  0.995460  0.619409
338  0.575229  0.064273  0.700506
340  0.166296  0.728196  0.579141
341  0.358991  0.284248  0.642467
350  0.042271  0.235548  0.514681

[114 rows x 3 columns]